
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Noto+Sans:wght@300;400;500;700&display=swap');
:root {
    --notoSans: 'Noto Sans',sans-serif;
    --Garamond: 'EB Garamond',serif;
    --themeColor: #F86729;
    --general-font-color: rgb(255, 255, 255);
    /* mobile size*/
    --section-title-fontsize: 14px;
    --section-content-fontsize: 20px;
    --homepage-title: 48px;
    /* window size */
    --section-title-fontsize-window: 20px;
    --section-content-fontsize-window: 36px;
    --homepage-title-window: 6.5vw;
    --headerList-fontsize: 0.9vw;
}
.section-padding{
    padding: 48px 0px 48px 0px;
}
/* mobile first */
#pageHeader{
    width: 100vw;
    height: 100vh;
    background-image: url(../src/images/HeroImage.jpg);
    background-size: cover;
}
#homePageContainer{
    padding: 29px 42px 29px 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* home page header */
#headerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#headerTop p,
#webpageLogo{
    font-size: 16px;
    font-family: var(--notoSans);
    font-weight: bold;
    color: var(--general-font-color);
}
#headerTop p span,
#webpageLogo span{
    color: var(--themeColor);
}
.headerNavList {
    display: none;
}
.headerNavList-mobile{
    position: absolute;
    background: rgba(255, 255, 255, 0.966);
    padding: 0px;
    margin: 0px;
    left: -72vw;
    top: 0;
    width: 72vw;
    height: 100vh;
    z-index: 1000;
}
.headerNavList-mobile ul{
    font-family: var(--notoSans);
    font-size: 24px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
}
.headerNavList-mobile ul li{
    padding: 12% 0px;
}
.headerNavList-mobile ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.614);
}
.headerNavList-mobile.in{
    left: 0vw;
}
.showMobileMenu{
    animation: showMenuListin 400ms ease-in-out ;
}
.removeMobileMenu{
    animation: showMenuListout 400ms ease-in-out;
}
@keyframes showMenuListin {
    0%{
        left: -72vw;
    }
    100%{
        left: 0vw;
    }
}
@keyframes showMenuListout {
    0%{
        left: 0vw;
    }
    100%{
        left: -72vw;
    }
}
#burger-icon,
#close-icon{
    width: 24px;
    cursor: pointer;
    position: absolute;
    display: block;
    right: 42px;
    top: 26px;
}
#close-icon{
    display: none;
}
/* home page content */
#homePageTitle {
    max-width: 85%;
    margin-top: 24vh;
    color: var(--general-font-color);
}
#homePageTitle p:nth-child(1){
    font-family: var(--notoSans);
    font-size: var(--section-title-fontsize);
    padding-bottom: 16px;
}
#homePageTitle h1{
    font-family: var(--Garamond);
    font-size: var(--homepage-title);
    text-transform: uppercase;
    padding-bottom: 30px;
}
#homePageTitle h1 span{
    display: block;
}
#homePageTitle div p{
    font-family: var(--notoSans);
    font-size: 11px;
    line-height: 185%;
    font-weight: 300;
    max-width: 76%;
}
/* user comment section */
#user-comment-section{
    margin-top: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 3px;
}
.user-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 6px;
    margin: 0px 7px;
}
#user-comment-two{
    display: none;
}
#user-comment-section p{
    font-family: var(--notoSans);
    font-size: 10px;
    color: var(--general-font-color);
    padding: 0px 12px;
    line-height: 14px;
    font-weight: 300;
}
.left-right-btn{
    width: 25px;
    height: 25px;
}
.homgpageUser{
    width: 34px;
    height: 34px;
}
.vertical-line{
    border-top: 0.7px solid grey;
    opacity: 0.6;
    padding-bottom: 5%;
    margin-bottom: 15px;
}
#homePageBottom{
    margin-top: 3vh;
}
#homePageBottom-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#slogan{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    color: var(--themeColor);
    font-family: var(--notoSans);
}
#slogan span{
    padding: 2px 0px;
    letter-spacing: 2px;
}
#social-icon img{
    padding: 0px 5px;
    width: 25px;
    height: 25px;
}
/* main section */
/* *********************** */
.grid{
    display: grid;
}
/* 1. Destination */
#mainContainer{
    width: 100%;
}
#destination,
.services-box,
#gallery,
#gallery-user-container,
#contact{
    max-width: 80%;
    margin: 0px auto;
}
.destination-box{
    width: 100%;
    height: auto;
    font-family: var(--notoSans);
}
.destination-box h4,
.services-box h4,
.gallery-box h4,
.contact-box h4{
    font-size: 14px;
    font-family: var(--notoSans);
    margin-bottom: 45px;
}
.text-content{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: var(--Garamond);
    margin-bottom: 39px;
}
/* card content */
.destination-card-container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 40px;
    margin-top: 5%;
}
.destination-card{
    border-radius: 12px;
    box-shadow: 3px 3px 22px rgba(0, 0, 0, 0.103);
}
.destination-card img{  
    width: 100%;
}
.destination-card-content{
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
    padding: 20px 25px 15px 20px;
    font-family: var(--notoSans);
}
.destination-card-content p{
    width: 76%;
    font-size: 10px;
    line-height: normal;
    margin-top: 5px;
    color: #6A6A6A;
}
.card-text-content{
    display: flex;
    justify-content: space-between;
}
.card-text-content h5{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}
.card-rate{
    font-size: 12px;
}
.card-rate i{
    color: var(--themeColor);
    padding-right: 2px;
}
/* *********************** */
/* services section */
#services{
    background: #F8F8F8;
}
.services-container{
    margin-top: 38px;
    font-family: var(--notoSans);
}
.services-list{
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
    column-gap: 22px;
    row-gap: 3vh;
    align-items: center;
}
.services-img-list{
    display: none;
}
.services-list div img{
    width: 80px;
    height: auto;
}
.services-list h5{
    font-size: 14px;
    font-weight: 700;
    color: var(--themeColor);
    padding-bottom: 7px;
}
.services-list p{
    font-size: 11px;
    line-height: normal;
}
/* *********************** */
/* Gallery section */
.gallery-images{
    grid-template-columns: 1fr;
    column-gap: 35px;
    margin-top: 5%;
}
.gallery-hero-img li img{
    width: 100%;
    border-radius: 12px;
}
.gallery-img-list{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 12px;
}
.gallery-img-list img{
    width: 100%;
    border-radius: 12px;
}
/* Gallery user section */
/* *********************** */
#gallery-user-content{
    background: #F8F8F8;
}
#gallery-user-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#gallery-user-container h2{
    font-size: 34px;
    font-family: var(--Garamond);
    font-weight: 600;
    height: 6vh;
}
#gallery-user-img{
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5vh;
}
#gallery-user-img li img{
    width: 50px;
}
#gallery-user-comment{
    font-family: var(--notoSans);
    position: relative;
}
.user-comment-2,
.user-comment-3{
    position: absolute;
    top: 0;
}
#gallery-user-comment div{
    width:max-content;
    margin: 0px auto;
    padding-bottom: 5%;
}
#gallery-user-comment h5{
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 1%;
}
#gallery-user-comment img{
    width: 14vw;
}
.user-filter {
    opacity: 0.5;
}
.comment-filter{
    display: none;
}
#gallery-user-comment span{
    display: inline-block;
    font-size: 12px;
    padding: 5% 0px;
}
#gallery-user-comment li p{
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 170.2%;
}
/* *********************** */
/* contact page section */
.contact-container{
    width: 100%;
}
.input-section{
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.12);
    position: relative;
    padding: 5px 20px;
    background-color: #F8F8F8;
}
.input-section input{
    border: none;
    background: none;
}
#input-box{
    width: 70%;
    height: 5vh;
    font-size: 11px;
    opacity: 0.5;
    outline: none;
}
#submitBtn{
    background-color: var(--themeColor);
    border-radius: 30px;
    color: white;
    box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.12);
    font-size: 11px;
    padding: 8px 20px;
    position: absolute;
    cursor: pointer;
    top: 28%;
    right: 12%;
}
/* *********************** */
/* footer */
footer{
    background-image: url(/src/images/footerImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 46vh;
}
#footerContainer{
    padding: 39px 42px 20px 42px;
    font-family: var(--notoSans);
    font-weight: lighter;
    color: var(--general-font-color);
}
#webpageLogo{
    padding-bottom: 5%;
}
#footerTextContent{
    font-size: 12px;
    line-height: 168%;
    max-width: 82%;
    padding-bottom: 10%;
}
#followUs span {
    display: inline-block;
    padding-right: 5%;
    font-size: 14px;
}
#followUs {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#footerBottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10%;
    font-family: var(--notoSans);
    font-weight: lighter;
}
#footerBottom ul li{
    font-size: 12px;
    padding-bottom: 8%;
}
#footerBottom ul li:nth-child(1){
    font-size: 14px;
    padding-bottom: 12%;
}

@media (min-width:780px) {
    /* container width */
    #headerTop,
    #homePageTitle,
    #user-comment-section,
    #footerContainer,
    .services-box,
    #destination,
    #gallery,
    #contact {
        width: 70%;
    }
    #pageHeader {
        background-image: url(../src/images/Bg\ image-window.png);
    }
    #homePageContainer {
        padding: 50px 0px 0px 0px;
        margin: 0px auto;
    }
    /* home page header */
        #headerTop{
        margin: 0px auto;
        }
    #headerTop p {
        font-size: 1.4vw;
    }
    .headerNavList {
        width: 33%;
        display: flex;
        justify-content: space-between;
        font-size: var(--headerList-fontsize);
        font-family: var(--notoSans);
    }
    .headerNavList li a{
        text-decoration: none;
        color: var(--general-font-color);
        transition: all 300ms ease-in;
    }
    .headerNavList li a:hover{
        color: var(--themeColor);
    }
    #headerNavList-mobile{
        display: none;
    }
    #burger-icon,
    #close-icon{
        display: none;
    }
    .btnSwitch {
        display: none;
    } 
    /* home page content */
    #homePageTitle{
        margin: 16vh auto 0px auto;
    }
    #homePageTitle p:nth-child(1) {
        font-size: var(--section-title-fontsize-window);
        padding-bottom: 12px;
    }
    #homePageTitle h1 {
        font-size: var(--homepage-title-window);
        padding-bottom: 0px;
    }
    #homePageTitle div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #homePageTitle div p {
        font-family: var(--notoSans);
        font-size: 16px;
        line-height: 164%;
        width: 25%;
        margin-right: 60px;
    }
    /* user comment section */
    #user-comment-section {
        margin: 14vh auto 0px auto;
        padding: 0px 3px;
    }
    .user-content {
        width: 70%;
        margin: 0px auto;
    }
    #user-comment-two {
        display: flex;
    }
    #user-comment-section p {
        width: 52%;
        font-size: 14px;
        padding-left: 26px;
        line-height: 20px;
    }
    .left-right-btn {
        width: 72px;
        height: 72px;
    }
    .homgpageUser {
        width: 52px;
        height: 52px;
    }
    #homePageBottom {
        width: 72%;
        margin: 4vh auto 0vh auto;
    }
    .vertical-line {
        padding-bottom: 0%;
    }
    #slogan {
        flex-direction: row;
        font-size: 13px;
    }
    #slogan span {
        padding: 0px 10px;
    }
    #social-icon img {
        width: 38px;
        height: 38px;
    }
    /* main content */
    #destination {
        padding: 48px 0px 45px 0px;
    }
    .top-content{
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 48px;
        margin-top: 20px;
    }
    .top-content p {
        width: 40%;
        font-size: 26px;
    }
    .destination-box h4,
    .services-box h4,
    .gallery-box h4,
    .contact-box h4 {
        font-size: 18px;
    }
    .text-content {
        font-size: 20px;
    }
    .destination-box .vertical-line{
        margin-bottom: 40px;
    }
    /* *********************** */
    /* card content */
    .destination-card-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 40px;
    }
    .destination-card-content {
        padding: 20px 35px 15px 30px;
    }
    .card-text-content h5 {
        font-size: 18px;
    }
    .destination-card-content p {
        width: 80%;
        font-size: 12px;
        margin-top: 5px;
    }
    .card-rate {
        font-size: 14px;
    }
    .card-rate i {
        padding-right: 5px;
    }
    /* *********************** */
    /* services section */
    #services {
        padding: 58px 0px 20px 0px;
        background: #F8F8F8;
    }
    .services-box {
        margin: 0px auto;
    }
    .services-box .vertical-line{
        margin-bottom: 70px;
    }
    .services-container {
        margin: 38px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8%;
    }
    .services-list {
        grid-template-columns: 1fr 4fr;
    }
    .services-img-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .services-img-list li:nth-child(1){
        margin-top: 25%;
    }
    .services-img-list li:nth-child(2){
        margin-bottom: 9%;
    }
    .services-img-list li:nth-child(3){
        margin-top: 10%;
    }
    .services-img-list li img{
        box-shadow: 3px 3px 22px 0px rgba(0, 0, 0, 0.12);
        width: 90%;
        height: 90%;
        object-fit: cover;
        border-radius: 12px;
    }
    .services-list div img {
        width: 110px;
    }
    .services-list h5 {
        font-size: 18px;
        padding-bottom: 12px;
    }
    .services-list p {
        line-height: 164.7%;
        font-size: 14px;
    }
    /* *********************** */
    /* Gallery section */
    #gallery {
        padding: 48px 0px 15vh 0px;
        margin: 0px auto;
    }
    .gallery-box{
        width: 100%;
    }
    .gallery-images {
        grid-template-columns: 1fr 1fr;
    }
    .gallery-hero-img li img {
        width: 100%;
        border-radius: 12px;
    }
    .gallery-img-list {
        column-gap: 25px;
        row-gap: 18px;
        margin-top: 0px;
    }
    .gallery-img-list img {
        width: 100%;
        border-radius: 12px;
    }
    /* Gallery user section */
    /* *********************** */
    #gallery-user-container{
        margin-bottom: 3%;
    }
    #gallery-user-container h2 {
        font-size: 64px;
        height: 12vh;
        padding: 3% 0px 0px 0px;
    }
    #gallery-user-img {
        width: 25%;
        justify-content: space-between;
    }
    #gallery-user-img li img {
        width: 90px;
    }
    #gallery-user-comment div {
        padding-bottom: 2%;
    }
    .user-comment-2,
    .user-comment-3 {
        position: absolute;
        top: 0;
    }
    #gallery-user-comment h5 {
        font-size: 22px;
    }
    #gallery-user-comment img {
        width: 5vw;
    }
    #gallery-user-comment span {
        display: inline;
        font-size: 18px;
        padding: 0px;
        margin: 0px;
    }
    #gallery-user-comment li p {
        font-size: 18px;
        width: 40%;
        margin: 0px auto;
        font-weight: 400;
        line-height: 165%;
    }
    /* contact page section */
    .contact-container {
        width: 50%;
        margin: 0px auto;
    }
    .contact-box .vertical-line{
        margin-bottom: 70px;
    }
    .input-section {
        padding: 5px 25px;
        margin-bottom: 5%;
    }
    #input-box {
        height: 7vh;
        font-size: 17px;
    }
    #submitBtn {
        font-size: 14px;
        padding: 15px 25px;
        top: 22%;
        right: 4%;
    }
    /* footer */
    footer{
        background-image: url(/src/images/footerImage-windowsize.png);
        height: 35vh;
    }
    #footerContainer {
        padding: 59px 0px 20px 0px;
        display: grid;
        grid-template-columns: 5fr 3fr ;
        margin: 0px auto;
    }
    #webpageLogo {
        padding-bottom: 5%;
        font-size: 26px;
    }
    #footerTextContent {
        font-size: 16px;
        width: 42%;
        padding-bottom: 5%;
    }
    #followUs span {
        font-size: 18px;
    }
    #footerBottom {
        padding-top: 4%;
    }
    #footerBottom ul li {
        font-size: 16px;
    }
    #footerBottom ul li:nth-child(1) {
        font-size: 18px;
    }
}